
a{
    font-size: 20px;
    text-decoration: none;
}
/*Estado del enlace mientras se pasa el mouse por */
a:hover {
    background: #f9a03f;
    color: #fff;
}
/*Enlace sin visitar*/
a:link{
    text-decoration: none;
}
/*Enlace visitado*/
a:visited{
    color: #ccc;
}
/*Estado del enlace mientras dse esta haciendo click*/
a:active{
    color: chartreuse;
    background: black;
    text-decoration: underline;