body{
    /*background: blue;*/
    /*background: url(img/paisaje.jpg);*/
    /*background: url(img/paisaje.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;*/

    /*background: url(img/paisaje.jpg) no-repeat scroll center center;
    background-size: cover;*/
}
.fondo{
    width: 600px;
    height: 600px;
    background: url(img/paisaje.jpg) #000;
    background-size: cover;

}