*{
    margin: 0;
    padding: 0;
}
/*.padre{
    width: 500px;
    height: 500px;
    margin: 20px;
    background: #4A051C;
    position: relative;
}*/

.caja{
    width: 200px;
    height: 200px;
    margin: 20px;
    background: #143642;
}

.posicionada{
    background: #BCA3AC;
    position: absolute;
    top:;
    right:;
    left: 200px;
    bottom:;
}

/*     Tipos de Posicionamiento:
       
      - Normal (static): Posicionamiento por defecto con el que los navegadores acomodan los elementos.
      - Relativo (relative): Nos permite posicionar una caja y despues moverla desde su lugar original.
      - Absoluto (absolute): Nos permite posicionar una caja respecto a su contenedor y el resto de elementos ignoran la nueva posicion.
      - Fijo (fixed): Nos permite posicionar una caja en donde su posicion respecto a la pantalla del usuario siempre va a ser la misma.
      - Flotante (float): Nos permite desplazar las cajas todo lo posible hacia la derecha o izquierda.
      
*/
