div{
width: 37.5em;
height: 37.5em;
background-color: black;
}

/*

Hay 17 palabbras clave que podemos usar: aqua, black, blue, fuchsia, gray, green, lime, maroon, navy,
olive, orenge, purple, red, silver, teal, white, yellow.

-RGB Decimal: rgb(215, 38, 61)

-RGB Porcentual: rgb(84%, 15%, 24%)

-RGB Hexadecimal: #D7263D

*/